body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:linear-gradient(52deg, #050035, #001b64);
    height: 100vh;
    margin: 10%;
    
    justify-content: center;
    align-items: center;
    color: azure;
    text-align: center;
    
    
    font-weight: lighter;
}
mn {
    font-size: 45px;
}
mn2 {
    font-size: 22px;
}
button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    border: rgba(255, 255, 255, 1);
    width: 15%;
    height: 5%;
    color: aliceblue;
    background-color:rgb(0, 82, 150);
}
         
.btn-grad {
    background-image: linear-gradient(to right, #5d83ed 0%, #19f0d3  52%, #0044ff  100%);
    width: 20%;
    
    
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);            
    box-shadow: 0 0 20px #00f7ff;
    border-radius: 10px;
    
  }

  .btn-grad:hover {
    width: 25%;
    box-shadow: 0 0 20px #2748ff;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.btn-calc {
    background-color: #5d83ed;
    transition: 0.5s;
}
.btn-calc:hover {
    background-color: #9caee0;
}
mn3 {
    color: gold;
}
posts {
    font-size: 20px;
    
}
